{% extends 'base.html' %}
{% block content %}
<!-- Attendance Section -->
<section id="attendance" class="content-section active">
    <div class="section-header">
        <h1>إدارة الحضور لحصة {{ session.title }}</h1>
        
    </div>

    <!-- Attendance Records -->
    <div class="table-container">
        <div class="table-header">
            <h3>سجلات الحضور</h3>
        </div>
        <div class="table-wrapper">
            <table class="data-table" id="attendanceTable">
                <thead>
                    <tr>
                        <th>الطالب</th>
                        <th>حالة الحضور</th>
                        <th>تغيير الحالة</th>
                    </tr>
                </thead>
                <tbody id="attendanceTableBody">
                    {% for student_attendant in attendance %}
                        <tr>
                            <td>{{ student_attendant.student.name }}</td>
                            <td>{% if student_attendant.is_attendant %}<span class="badge-success">حضر</span>{% else %}<span class="badge-danger">محضرش</span>{% endif %}</td>
                            <td>
                                <form method="POST" action="{% url 'edit_student_attendance' student_attendant.session.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="student_id" value="{{ student_attendant.student.id }}">
                                    <button type="submit" class="btn btn-secondary">تغيير الحالة</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
